<app-title></app-title>

<div class="articules">
  <div class="articules__main">
    <ng-container *ngFor="let article of articles">
      <ng-container *ngIf="article.id == '1'">
        <app-big-card
          [Id]="article.id"
          [photoCover]="article.photo"
          [cardTitle]="article.title"
          [cardDescription]="article.description"
        ></app-big-card>
      </ng-container>
    </ng-container>
  </div>

  <div class="articules__others">
    <ng-container *ngFor="let article of articles">
      <ng-container *ngIf="article.id == '2'">
        <app-small-card
          [Id]="article.id"
          [photoCover]="article.photo"
          [cardTitle]="article.title"
        ></app-small-card>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let article of articles">
      <ng-container *ngIf="article.id == '3'">
        <app-small-card
          [Id]="article.id"
          [photoCover]="article.photo"
          [cardTitle]="article.title"
        ></app-small-card>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let article of articles">
      <ng-container *ngIf="article.id == '4'">
        <app-small-card
          [Id]="article.id"
          [photoCover]="article.photo"
          [cardTitle]="article.title"
        ></app-small-card>
      </ng-container>
    </ng-container>
</div>
